<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Bot</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div id="titulo">
    <h3>Chat Bot MGP</h3>
  </div>
  <div id="mensaje-bienvenida">
    <p>{{ mensaje_bienvenida }}</p>
  </div>
    <div class="chat-container">
        <div id="chat-box" class="chat-box"></div>
        <div class="input-container">
            <input type="text" id="chat-input" placeholder="Ingrese su mensaje..." autocomplete="off">
            <button id="send-button">Send</button>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
